{% extends 'app/base.html' %}
{% load thumbnail %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
			<li><div class="article-panel">
				<p class="first">{{ p.category }}</p>
			</div>
			{% if p.photo %}
				<p><img class="img-article-left thumb" src="{% thumbnail p.photo 200x300 crop='smart' %}"></p>
			{% endif %}
			<h2><a class="article-header" href="{{ p.get_absolute_url }}">{{ p.name }}</a></h2>
			<p class="last">{{ p.years_live }}</p>
			{{ p.bio|truncatewords:50 }}
<!--				<a href="{{ p.get_absolute_url }}">Читать далее</a>-->
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать далее</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
